.header_img{
  /*position: absolute;*/
  width: 100%;
  top: -100px;
  height: 300px;
  background: url(../assets/NHEI_Title_Pic.jpg);
  background-size: cover;
}
.trophies{
	list-style-image: url(../assets/trophy1.png);
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active{
  background-color: #4CAF50;
}
